body {
  background-color: #636262;
  color: whitesmoke;
}

h1 {
  color: #ccc;
}

h2 {
  color: darkgreen;
  background-color: rgb(168, 171, 171);
}

section {
  background: rgb(95, 95, 124);
}

ul {
  list-style: none;
}

.my-article {
  background-color: #343434;
}

/*Lista dziedziczonych własności w CSS*/
.table-inheritanc-css {
  width: 800px;
}

/* */
.url-green {
  color: greenyellow;
}
.url-red {
  color: red;
}
.url-bold {
  font-weight: bold;
}

/*box model graph*/
.table-box-model {
  border-collapse: collapse;
  color: black;
  width: 400px;
  height: 210px;
}

.table-margin {
  background-color: rgb(214, 167, 80);
}
.table-border {
  background-color: rgb(226, 226, 101);
}
.table-padding {
  background-color: rgb(175, 206, 129);
}
.table-element {
  background-color: lightblue;
}

/* Stopka */
footer {
  background-color: #575757;
}
