html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Tektur', monospace;
}

body {
  background-color: #636262;
  color: whitesmoke;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  flex-wrap: wrap;
}

.navigation {
  justify-content: center;
  display: flex;
  gap: 15px;
}

ul {
  list-style: none;
}

/*Lista dziedziczonych własności w CSS*/
.css__inheritanc--table {
  width: 800px;
}

/*diagram url*/
.net__url--green {
  color: greenyellow;
}
.net__url--red {
  color: rgb(192, 63, 63);
}
.net__url--bold {
  font-weight: bold;
}

/*box model graph*/
.css__box-model--margin {
  color: black;
  background-color: rgb(214, 167, 80);
  width: 400px;
  height: 200px;
  padding: 3px;
}
.css__box-model--border {
  color: black;
  background-color: rgb(226, 226, 101);
  width: 350px;
  height: 150px;
  padding: 3px;
  margin-left: 20px;
  margin-top: 5px;
  border: 1px solid black;
}
.css__box-model--padding {
  color: black;
  background-color: rgb(175, 206, 129);
  width: 300px;
  height: 100px;
  padding: 3px;
  margin-left: 20px;
  margin-top: 5px;
}
.css__box-model--element {
  color: black;
  background-color: lightblue;
  width: 200px;
  height: 50px;
  padding: 3px;
  margin-left: 45px;
  margin-top: 5px;
}

.header__img {
  height: 250px;
  width: 1200px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #302300;
  font-size: 1.5em;
  padding-left: 10px;
  padding-top: 20px;
  font-weight: 800;
  text-shadow: 3px 3px 2px #323330;
  opacity: 50%;
}

/* Stopka */
footer {
  background-color: #575757;
}

/*about.html -- Wizytówka */

.about__card {
  background-image: linear-gradient(
    180deg,
    rgba(32, 80, 47, 0.1) 20%,
    rgba(52, 145, 81, 0.2) 40%,
    rgba(12, 28, 20, 0.1) 50%
  );
  background-color: #0c1c14;
  border-radius: 1rem;
  color: #01bf6f;
  text-shadow: 1px 1px 4px #09da60;
  border: #0c1c14 solid 3px;
  padding: 2rem;
  margin: 2rem auto;
  width: fit-content;
}

.about__card--content {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.about__card--description {
  line-height: 1.375rem;
  margin: 0;
}

.about__card--info {
  max-width: 380px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__card--link:link,
.about__card--link:visited,
.about__card--link:hover {
  color: #01bf6f;
  text-shadow: 1px 1px 4px #09da60;
  text-decoration: none;
}

.about__card--name {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

.about__card--position {
  margin: 0;
  font-style: italic;
  font-size: 1.2rem;
}
